<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">-->
  {{!-- <meta http-equiv="Content-Security-Policy" content="default-src gap://ready file://* *; style-src 'self' http://* https://* 'unsafe-inline'; script-src 'self' http://* https://* 'unsafe-inline' 'unsafe-eval'"> --}}
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet"
    type="text/css" />

</head>


<body>
  <header>
    {{>header}}
  </header>
  {{{body}}}
  <footer>
    {{>footer}}
  </footer>

  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!--Pdfmaker-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.57/pdfmake.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.57/vfs_fonts.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>-->

  <script>

    $(document).ready(function () {
      //$('.datepicker').datepicker();



      // var image = $("#profile-pic");
      // if (image[0].height > 19) {
      //  console.log("si hay foto");
      //  image.show();
      //}
      //else {
      // console.log("no hay foto");
      //image.hide();
      //}

      $("#printPDF").off();
      $("#printPDF").on("click", function (event) {
        event.preventDefault();
        //var source = document.getElementById("entry-template").innerHTML;
        //var template = Handlebars.compile(source);
        //var dates = $("#dates").text();
        $.get("/print/all", function (data) {
          var experience = data[0].Experiences;
          var languages = data[0].Languages;
          var skills = data[0].Skills;
          var studies = data[0].Studies;
          var generalInfo = data[0].GeneralInfos;
          console.log(data);
          console.log(data[0].username);
          console.log(experience);
          console.log(experience.length);
          console.log(languages.length);
          console.log(skills.length);
          console.log(studies.length);
          var experiencesPrint;
          var expArr = [];
          for (var x = 0; x < experience.length; x++) {
            experiencesPrint = [
              {
                columns: [
                  {
                    width: 140, alignment: 'center',
                    text: experience[x].entryDate + "-" + experience[x].leaveDate,
                  },
                  {
                    width: '*',
                    text: experience[x].company, bold: true,
                  }
                ]
              },
              {
                columns: [
                  {
                    width: 140, alignment: 'center',
                    text: experience[x].city + ", " + experience[x].state,
                  },
                  {
                    width: '*',
                    text: experience[x].jobTitle, italics: true,
                  }
                ]
              },
              {
                columns: [
                  {
                    width: 140,
                    text: "",
                  },
                  {
                    width: '*',
                    text: experience[x].description,
                  }
                ]
              },
              {
                columns: [
                {
                  width: 160,
                  text: "",
                },
                {
                  width:"*",
                  ul: [
                  experience[x].task1,
                  experience[x].task2
                ]
                }]
              }

            ]


            expArr.push(experiencesPrint);
          }

          var docDefinition = {
            content: [
              expArr
            ]
          }
          pdfMake.createPdf(docDefinition).open();
        });


      });
    });



  </script>
</body>

</html>