<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Build up, customize and style your Resume.</h1>
        <p class="lead">Boost up your career by creating the ultimate Resume.<br><br>
            With this web application you can build up all of your professional experience details, all the tasks,
            challenges and achievements you have collected so far, as well as your skills and education details.<br><br>Then you can customize your info in order to build the perfect Resume targeted to that specific
            position
        </p>
    </div>

    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Style 1</h4>
                </div>
                <div class="card-body">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBmq-LBerWGBxQGZYcsn8JM7llci1ezRMc7Dr3iAn_xows3Wwp3g" alt="">
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Style 2</h4>
                </div>
                <div class="card-body">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQn2-BD5Y8Fgro7rEyW0goDgv2MmQG2amUAOtSKYOBza33cL0jpXA" alt="">
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Style 3</h4>
                </div>
                <div class="card-body">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQB17gp8LqJyIgFnjGlEcDuriYaxidYLWcwOeDPety4gPnjdVdv" alt="">
                </div>
            </div>
        </div>
    </div>
</div>