<div class="container html">
  <form>
    <div class="jobExperience border border-info p-3 m-4">
      <h2>Job Experience</h2>

      <div class="duplicate-job border border-success p-3 m-4" style="display: none">
        <div class="form-row">
          <div class="form-group col-md-1 col-xl-1">
            <label for="entryDate">Started</label>
            <input type="number" min="1950" max="2019" placeholder="2017" id="entryDate" name="entryDate" class="form-control">
          </div>
          <div class="form-group col-md-1 col-xl-1">
            <label for="leaveDate">Ended</label>
            <input type="number" min="1950" max="2019" placeholder="2019" id="leaveDate" name="leaveDate" class="form-control">
          </div>
          <div class="form-group col-md-1 col-xl-10">
            <label for="company" class="col-xl-12">Company</label>
            <input type="text" id="company" name="company" class="autocomplete form-control col-xl-12 companyt" autocomplete="off">
            <div class="companySug" id="sug"></div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-xl-3">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="Monterrey">
          </div>
          <div class="form-group col-md-4 col-xl-3">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" name="city" placeholder="Nuevo León">
          </div>
          <div class="form-group col-md-4 col-xl-6">
            <label for="jobTitle" class="col-xl-12">Job Title</label>
            <input type="text" placeholder="Sales representative" class="form-control col-xl-12" id="jobTitle" name="jobTitle">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6 col-xl-12">
             <label class="col-xl-12" for="description">Job Description</label>
             <textarea class="form-control col-xl-12" rows="3" id="description" name="description"></textarea>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-xl-12 tasks">
            <label class="col-xl-12" for="task">Tasks Performed</label>
            <input type="text" class="form-control col-xl-10" name="task1" id="task1"
              placeholder="Implemented marketing plan that increased sales by 30% and created loyalty among new and existing customers.">
          </div>
          <button type="submit" class="col-xl-1 btn btn-primary addTask">add</button>
        </div>

      </div>
      <div id="Job_1" class="border border-success p-3 m-4">
        <div class="form-row">
          <div class="form-group col-md-1 col-xl-1">
            <label for="YearStart_1">Started</label>
            <input type="number" min="1950" max="2019" placeholder="2017" id="YearStart_1" class="form-control">
          </div>
          <div class="form-group col-md-1 col-xl-1">
            <label for="YearEnd_1">Ended</label>
            <input type="number" min="1950" max="2019" placeholder="2019" id="YearEnd_1" class="form-control">
          </div>
          <div class="form-group col-md-1 col-xl-10">
            <label for="company_1" class="col-xl-12">Company</label>
            <input type="text" id="company_1" class="autocomplete form-control col-xl-12 companyt" autocomplete="off">
            <div class="companySug" id="companySug"></div>
            <ul class="typeahead dropdown-menu"></ul>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-xl-3">
            <label for="inputCity_1">City</label>
            <input type="text" class="form-control" id="inputCity_1">
          </div>
          <div class="form-group col-md-4 col-xl-3">
            <label for="inputState_1">State</label>
            <input type="text" class="form-control" id="inputState_1">
          </div>
          <div class="form-group col-md-4 col-xl-6">
            <label for="jobTitle_1" class="col-xl-12">Role or Position</label>
            <input type="text" placeholder="Sales representative" class="form-control col-xl-12" id="jobTitle_1">
            <div class="companySug" id="sug"></div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-xl-12">
             <label class="col-xl-12" for="jobDescription_1">Job Description</label>
             <textarea class="form-control col-xl-12" rows="3" id="jobDescription_1"></textarea>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-xl-12 tasks">
            <label class="col-xl-12" for="task_1">Tasks Performed</label>
            <input type="text" class="form-control col-xl-10" id="task_1"
              placeholder="Implemented marketing plan that increased sales by 30% and created loyalty among new and existing customers.">
          </div>
          <button type="submit" class="col-xl-1 btn btn-primary addTask">add</button>
        </div>
      </div>
      <!--<div class="append"></div>-->
      <button type="submit" class="btn btn-primary" id="addJob">ADD JOB EXPERIENCE</button>
    </div>

    <div class="Education border border-info p-3 m-4">
      <h2>Education</h2>

      <div class="duplicate-education border border-success p-3 m-4" style="display: none">
        <div class="form-row">
          <div class="form-group col-md-1 col-xl-1">
            <label for="entryDateSchool">Started</label>
            <input type="number" min="1950" max="2019" placeholder="2017" id="entryDateSchool" name="entryDateSchool" class="form-control">
          </div>
          <div class="form-group col-md-1 col-xl-1">
            <label for="leaveDateSchool">Ended</label>
            <input type="number" min="1950" max="2019" placeholder="2019" id="leaveDateSchool" name="leaveDateSchool" class="form-control">
          </div>
          <div class="form-group col-md-1 col-xl-10">
            <label for="school" class="col-xl-12">School</label>
            <input type="text" id="school" name="school" class="autocomplete form-control col-xl-12" autocomplete="off" placeholder="Tecnológico de Monterrey">
            <div class="school" id="sugSchool"></div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-xl-3">
            <label for="citySchool">City</label>
            <input type="text" class="form-control" id="citySchool" name="citySchool" placeholder="Monterrey">
          </div>
          <div class="form-group col-md-4 col-xl-3">
            <label for="stateSchool">State</label>
            <input type="text" class="form-control" id="stateSchool" name="stateSchool" placeholder="Nuevo León">
          </div>
          <div class="form-group col-md-4 col-xl-6">
            <label for="degree" class="col-xl-12">Program or Degree</label>
            <input type="text" placeholder="Bachelor of Arts" class="form-control col-xl-12" id="degree" name="degree">
          </div>
        </div>

      </div>

      <div id="School_1" class="border border-success p-3 m-4">
        <div class="form-row">
          <div class="form-group col-md-1 col-xl-1">
            <label for="entryDateSchool_1">Started</label>
            <input type="number" min="1950" max="2019" placeholder="2017" id="entryDateSchool_1" class="form-control">
          </div>
          <div class="form-group col-md-1 col-xl-1">
            <label for="leaveDateSchool_1">Ended</label>
            <input type="number" min="1950" max="2019" placeholder="2019" id="leaveDateSchool_1" class="form-control">
          </div>
          <div class="form-group col-md-1 col-xl-10">
            <label for="school_1" class="col-xl-12">School</label>
            <input type="text" id="school_1" class="autocomplete form-control col-xl-12 company" autocomplete="off">
            <div class="companySug" id="sugSchool_1"></div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-xl-3">
            <label for="inputCitySchool_1">City</label>
            <input type="text" class="form-control" id="inputCitySchool_1">
          </div>
          <div class="form-group col-md-4 col-xl-3">
            <label for="inputStateSchool_1">State</label>
            <input type="text" class="form-control" id="inputStateSchool_1">
          </div>
          <div class="form-group col-md-4 col-xl-6">
            <label for="Program_1" class="col-xl-12">Program</label>
            <input type="text" placeholder="Sales representative" class="form-control col-xl-12" id="Program_1">
          </div>
        </div>

      </div>

      <button type="submit" class="btn btn-primary" id="addEducation">ADD EDUCATION</button>
    </div>

    <div class="skills border border-danger p-3 m-4">
      <h2>Skills</h2>
      <div class="duplicate-skill border border-success p-3 m-4" style="display: none">
        <div class="form-row">
          <div class="col-md-4 col-xl-6 form-group">
            <label for="skillName" class="col-xl-12">Skills</label>
            <input type="text" placeholder="Javascript" id="skillName" name="skillName" class="col-xl-12">
          </div>
          <div class="col-md-4 col-xl-6 form-group">
            <label for="skillLevel" class="col-xl-12">Mastery of Skill</label>
            <select name="skillLevel" id="skillLevel" class="form-control" class="col-xl-12">
              <option value="0">Please select</option>
              <option value="Beginner">Beginner</option>
              <option value="Intermediate">Intermediate</option>
              <option value="Advanced">Advanced</option>
              <option value="Expert">Expert</option>
            </select>
          </div>
        </div>

      </div>
      <div id="Skill_1" class="border border-info p-3 m-4">
        <div class="form-row">
          <div class="col-md-4 col-xl-6 form-group">
            <label for="skill-1" class="col-xl-12">Skills</label>
            <input type="text" placeholder="Javascript" id="skill-1" class="col-xl-12">
          </div>
          <div class="col-md-4 col-xl-6 form-group">
            <label for="level-skill-1" class="col-xl-12">Mastery of Skill</label>
            <select name="" id="level-skill-1" class="form-control" class="col-xl-12">
              <option value="0">Please select</option>
              <option value="1">Beginner</option>
              <option value="2">Intermediate</option>
              <option value="3">Advanced</option>
              <option value="4">Expert</option>
            </select>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" id="addSkill">ADD Skill</button>
    </div>

    <div class="languages border border-info p-3 m-4">
      <h2>Languages</h2>
      <div class="duplicate-languages border border-success p-3 m-4" style="display: none">
        <div class="form-row">
          <div class="col-md-4 col-xl-6 form-group">
            <label for="language" class="col-xl-12">Language</label>
            <input type="text" placeholder="Spanish" id="language" class="col-xl-12">
          </div>
          <div class="col-md-4 col-xl-6 form-group">
            <label for="level-language" class="col-xl-12">Mastery of Language</label>
            <select name="" id="level-language" class="form-control" class="col-xl-12">
              <option value="0">Please select</option>
              <option value="1">Beginner</option>
              <option value="2">Intermediate</option>
              <option value="3">Advanced</option>
              <option value="4">Expert</option>
            </select>
          </div>
        </div>

      </div>
      <div id="Language_1" class="border border-info p-3 m-4">
        <div class="form-row">
          <div class="col-md-4 col-xl-6 form-group">
            <label for="language-1" class="col-xl-12">Language</label>
            <input type="text" placeholder="Spanish" id="language-1" class="col-xl-12">
          </div>
          <div class="col-md-4 col-xl-6 form-group">
            <label for="level-language-1" class="col-xl-12">Mastery of Language</label>
            <select name="" id="level-language-1" class="form-control" class="col-xl-12">
              <option value="0">Please select</option>
              <option value="1">Beginner</option>
              <option value="2">Intermediate</option>
              <option value="3">Advanced</option>
              <option value="4">Expert</option>
            </select>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" id="addLanguage">ADD Language</button>
    </div>

    <button type="submit" id="submit-jobexperience" class="btn btn-success">Next</button>
  </form>

</div>


    
