<div class="container">
    <div class="col-lg-6">
        <h1>{{title}}</h1>


        <form class="register-user" method="POST" action="/register">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="passwordMatch">Re-Enter Password</label>
                <input type="password" id="passwordMatch" name="passwordMatch" class="form-control"
                    placeholder="Password">
            </div>
            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>

        {{#if errors}}
            <div id="errors">
                <b>Please review your submitted information:</b>
                {{#each errors}}
                    <div>
                        <p class="error">{{this.msg}}</p>
                    </div>
                {{/each}}
            </div>
        {{/if}}

    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>