.list-group-item {
  line-height: 2.5;
}

#profile-pic{
  object-fit: cover; 
  width:200px; 
  height:200px; 
  border-radius: 50%; 
  border-width: 3px; 
  border-style: solid; 
  border-color: #397bc7;
}

.card-header  h2{
  color:white;  
  vertical-align: middle !important;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.card-header  h2 strong, .card-header  h2 i{ 
  vertical-align: middle !important;
}

.card-header  button{
  float: right;
  background-color:#33D3D4;
}

.card-header button{
  width: 50px !important;
  border-radius: 1000px;
  height: 50px !important;
  padding:0;
  margin:0;
}

#errors {
  font-size: 12px;
  border: 1px solid red;
  padding: 4px;
}

.error {
  color: red;
}

.gray-section{
  background-color: #f2f5fa !important;
}

.uppercase {
  text-transform: uppercase;
  }

.slider-section{
  color:#f5f5f5;
  background-image: url("../images/slider.jpg")
}

.color-text{
  color:yellow;
}

footer{
  background-color: #0f141f !important;
}

.slider{
  padding-top:150px;
  padding-bottom:150px;
}

.container {
  flex: 1 0 auto;
}
.footer {
  color:#f5f5f5;
  flex-shrink: 0;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
